<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div style="padding: 5px;">
	<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
		<li [ngbNavItem]="1">
			<button ngbNavLink (click)="getWordTypes()">Create Sentence</button>
			<ng-template ngbNavContent>
				<div class="row">
					<div class="col">
						<div ngbDropdown class="d-inline-block">
							<button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownBasic1"
								ngbDropdownToggle>
								Toggle dropdown
							</button>
							<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
								<ul style="list-style-type: none">
									<li *ngFor="let word of wordTypesList">
										<button ngbDropdownItem (click)="getWordsByWordTypes(word.wordType!)">{{ word.wordType }}</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<button ngbNavLink (click)="getSentences()">Sentences</button>
			<ng-template ngbNavContent>
				<p>
					Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
					farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean
					shorts
					ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
					Keytar
					helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
					anderson
					8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
					scenester
					stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
				</p>
			</ng-template>
		</li>
	</ul>
	
	<div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
